{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                        <div class="card-body text-white">
                            <h2>Создание рекуррентной нейронной сети для описания изображений (image captioning)</h2>
                            <p>Рекуррентная нейронная сеть (Recurrent Neural Network, RNN) — популярный вид нейронных сетей, используемых в обработке естественного языка (NLP). Рекуррентная нейросеть оценивает произвольные предложения на основе того, насколько часто они встречались в текстах. Это дает меру грамматической и семантической корректности, что позволяет использовать такие модели для перевода текстов. Кроме того, такие модели генерируют новый текст.</p>
                            <p>Выполнили студенты группы МО23-1м: Марунько Анна, Пирметов Шумал, Сааков Даниил, Баженов Павел</p>
                            <img src="https://www.researchgate.net/profile/Vidushi-Mishra/publication/324883736/figure/fig2/AS:621644821307392@1525223083712/Recurrent-neural-networkRNN-or-Long-Short-Term-MemoryLSTM-5616.png" alt="Ленивец" width="80%"
                                 height="75%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}