{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2><span style="color: #f5f5dc; ">Расширенный поиск</span></h2>
        <form method="get" action="{% url 'advanced_search' %}">
            <span style="color: #f5f5dc; ">{{ form.as_p }}</span>
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>
        <br>
        {% if results %}
            <h3><span style="color: #f5f5dc; ">Результаты поиска</span></h3>
            <ul>
                {% for post in results %}
                        <h4><span style="color: #f5f5dc; ">{{ post.title }}</span></h4>
                        <p><span style="color: #f5f5dc; ">{{ post.body }}</span></p>
                {% endfor %}
            </ul>
        {% else %}
            <p><span style="color: #f5f5dc; ">Ничего не найдено</span></p>
        {% endif %}
    </div>
{% endblock %}